body {
    background-color: bisque;
}

#duck {
    --margin: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5em var(--margin);
}

.header {
    font-size: 3.5em;
    color: rgb(113, 44, 44);
}

.image-cont {
    --size: 15em;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;
}

.image-cont img {
    height: 100%;
    width: 100%;
}
.tooltip{
    display: none;
    background-color: rgb(55, 168, 24);
    border-radius: 10px;
    color: black;
    position: fixed;
    padding: 4px;
}
.visible {
    display: unset;
}
.tooltip{
    display: none;
    background-color: rgb(55, 168, 24);
    border-radius: 10px;
    color: black;
    position: fixed;
    padding: 4px;
}
.visible {
    display: unset;
}