.box {
    height: 40px;
    background-color: orange;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
}
.active {
    background-color: green;
}
#adam{
    cursor: help;
    width: fit-content;
}
.tooltip{
    display: none;
    background-color: rgb(168, 24, 24);
    border-radius: 10px;
    color: black;
    position: fixed;
    padding: 4px;
}
.visible {
    display: unset;
}

button {
    cursor: pointer;
    border: none;
    background-color: lightgreen;
    box-shadow: none;
    padding: 6px;
}
button:hover {
    background-color: #16a816;
}
#duck {
    display: flex;
}
#duck img{
    height: 150px;
}